
#bloodBankResults {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between the cards */
}
.card {
    background: #c3d6eb;
    color: #333;
    border-radius: 3px;
    box-shadow: 3px 2px 10px rgba(159, 85, 85, 0.3);
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 70%;
    margin: 20px auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bloodBankCard.card-header
{
    margin-bottom: 0;
}

.blood-bank-card {
    background: #555a5f;
    color: #fff;
    border-radius: 8px;
    box-shadow: 3px 2px 10px rgba(159, 85, 85, 0.3);
    padding: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Set the width to 100% */
    height: 180px; /* Allow the height to adjust based on content */
    max-width: 500px;
    margin-left: 45px; /* Optionally, set a maximum width */
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bloodBankCard.card-header
{
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .blood-bank-card {
        flex: 0 0 calc(50% - 20px); /* Two cards per row on medium screens */
    }
}

@media (max-width: 480px) {
    .blood-bank-card {
        flex: 0 0 100%; /* One card per row on small screens */
    }
}
.donor-name {
    margin-bottom: 0px; /* Adjust the value as needed */
}


body, html {
    height: 100%;
    margin: 0;
}

.container2 {
    display: flex;
    height: 100%;
}

.first-div {
    flex: 1;
    width: 20%;
    background-color: #550011;
}
.second-div {
    flex-grow: 1; /* Allow the div to grow and take up remaining space */
    width: 25%;
    background-color: #f1dce1;
    overflow-y: auto; /* Add vertical scrollbar if content exceeds the height */
}

.third-div {
    flex-grow: 1; /* Allow the div to grow and take up remaining space */
    width: 25%;
    background-color: #e7ebf0;
    overflow-y: auto; /* Add vertical scrollbar if content exceeds the height */
}



#urgent {
    margin-left: 100px;
    color: #786e6e;
    margin-bottom: 50px;
}

#headers
{
    margin-left: 100px;
    color: #393838;
}

#dList
{
    margin-left: 45px;
    color: #393838;
    margin-bottom: 30px;
}
 
.buttwo {
    background-color: #f1f1ff; /* Background color */
    color: #550011; /* Text color */
    padding: 10px 10px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 10px; /* Font size */
    cursor: pointer; /* Cursor style */
    margin-left: 155px;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* CSS for button hover effect */
.buttwo:hover {
    background-color: #a9a9a9; /* Darker background color on hover */
}


#quantity {
    background-color:  #bf96ce;
        color:white;
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 17px;
    margin-left: 5px;
}
.quantity {
    color: rgb(146, 52, 52); /* Example color for quantity */
}

.count {
    color: rgb(146, 52, 52); /* Example color for count */
}

#bloodBankResults2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between the cards */
}.blood-bank-card2 {
    background: #555a5f;
    color: #fff;
    border-radius: 8px;
    box-shadow: 3px 2px 10px rgba(159, 85, 85, 0.3);
    padding: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Set the width to 100% */
    height: 300px; /* Allow the height to adjust based on content */
    max-width: 500px;
    margin-left: 45px; /* Optionally, set a maximum width */
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bloodBankCard.card-header2
{
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .blood-bank-card2 {
        flex: 0 0 calc(50% - 20px); /* Two cards per row on medium screens */
    }
}

@media (max-width: 480px) {
    .blood-bank-card2 {
        flex: 0 0 100%; /* One card per row on small screens */
    }
}



#noAppointmentMessage,#noAppointmentMessage2 {
    background-color:   #f8a5b6;
    color:white;
    
    /* background-color: yellow; */
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

#pendingMessage {
    background-color:  #f8a5b6;
    color:white;
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 50px;
}

#acceptMessage {
    background-color:  #f8a5b6;
    color:white;
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 10px;
}


#successMessage {
    background-color:  #f8a5b6;
        color:white;
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 17px;
}

.donate-link {
    
    color:wheat;

    text-decoration: underline; /* Add underline */
}
/* successful*/
.bank-message {
    margin-top: 10px;
    color: #333; /* Adjust text color as needed */
    font-size: 16px; /* Adjust font size as needed */
    animation: highlight 1.5s infinite alternate; /* Animation properties */
    margin-bottom: 10px;
   
}

@keyframes highlight {
    0% { background-color: #e84062; } /* Initial background color */
    100% { background-color: #f78548; } /* Highlighted background color */
}
.rating-review select,
.rating-review textarea {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(199, 96, 96);
    background-color: rgb(244, 225, 225);
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 2px;
}

.rating-review button {
    background-color: #550011; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#cancelAppointmentButton {
    background-color: #550011;
    color: white;
   
    padding: 10px 20px;
    margin: 10px auto; /* Set left and right margins to auto */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Ensure the button takes up full width */
    width: fit-content; /* Adjust width to fit its content */
}
#viewprofile
{
    background-color: #550011;
    color: white;
    padding: 10px 20px;
    margin: 10px auto; /* Set left and right margins to auto */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Ensure the button takes up full width */
    width: fit-content; /* Adjust width to fit its content */


}
#showApp
{
    background-color: #550011;
    color: white;
    padding: 10px 20px;
    margin: 10px auto; /* Set left and right margins to auto */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Ensure the button takes up full width */
    width: fit-content; /* Adjust width to fit its content */  
}
#cancelAppointmentButton2 {
    background-color: #550011;
    color: white;
    padding: 10px 20px;
    margin: 10px auto; /* Set left and right margins to auto */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Ensure the button takes up full width */
    width: fit-content; /* Adjust width to fit its content */
}


.rating-review button:hover {
    background-color:  #f8a5b6;
}

#bs
{
    margin-top: 5px;
}

#bankname {
    margin-top: 40px;
   text-align: center;
   color:#550011;
}
.confirmation-box {
    display: none;
    position: fixed;
    top: 56%;
    font-size: large;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 80%; /* Adjust left position */
    transform: translate(-50%, -50%);
    background-color:#3f5474; /* New background color */
     color: #ccc;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999; /* Ensure it's above other content */
    height: 150px; /* Adjust width */
    width: 300px;
    text-align: center;
}


.confirmation-box button {
    margin: 10px; /* Add some space around the buttons */
    padding: 12px 24px; /* Increase padding for bigger buttons */
    font-size: 16px; /* Increase font size */
}



.confirmation-box2 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
}

.confirmation-message {
    font-size: 18px;
    margin-bottom: 15px;
}

.select-container {
    margin-bottom: 15px;
}

.cancel-reason {
   
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(199, 96, 96);
    background-color: rgb(244, 225, 225);
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 2px;
}

.button-container {
    text-align: center;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    margin: 10px auto; /* Set left and right margins to auto */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Ensure the button takes up full width */
    width: fit-content; /* Adjust width to fit its content */
}

.confirm-button {
    background-color: #adfbaf;
    color: rgb(109, 106, 106);
}

.cancel-button {
    background-color: #feb4af;
    color: rgb(109, 106, 106);
}


.bank-headline {
    margin-bottom: 20px; /* Add space between headline and cards */
}

/* CSS for the donor headline */
.donor-headline {
    margin-top: 20px; /* Add space between bank cards and donor headline */
    margin-bottom: 20px; /* Add space between donor headline and donor cards */
}

/* CSS for the right section */
.right-section {
    width: 60%; /* 40% of the container */
    position: relative;
}

/* CSS for overlays */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 103, 211, 0.5); /* Semi-transparent black */
    z-index: 1; /* Ensure overlays are above other content */
}

.overlay.overlay-1 {
    z-index: 2; /* Make the first overlay on top */
}
 
.overlay.overlay-2 {
    z-index: 3; /* Make the second overlay on top of the first */
}

/* CSS for the cards */
.card {
    background: #c3d6eb;
    color: #333;
    border-radius: 3px;
    box-shadow: 3px 2px 10px rgba(159, 85, 85, 0.3);
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 70%; /* Decrease width size */
    margin: 20px auto; /* Center horizontally and adjust vertical margin */
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bloodBankResults1,#bloodBankResults2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between the cards */
}

@media (max-width: 768px) {
    .blood-bank-card {
        flex: 0 0 calc(50% - 20px); /* Two cards per row on medium screens */
    }
}

@media (max-width: 480px) {
    .blood-bank-card {
        flex: 0 0 100%; /* One card per row on small screens */
    }
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}









/*                                   starts                                                */


:root {

    --main-color: #550011;
    --color-dark: #1D2231;
    --text-grey: #8390A2;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1 rem 0 rem 1 rem 2 rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;

}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a {
    display: block;
    color: #fff;
    font-size: 1.1 rem;
}

.sidebar-menu a span:first-child {
    font-size: 1rem;
    padding-right: 1 rem;
}


header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-left: 1rem;
}


#nav-toggle:checked+.sidebar {
    width: 70px;

}

#nav:checked {
    width: 70px;

}


#nav-toggle:checked+.sidebar .sidebar-brand #nav-toggle:checked+.sidebar li a {
    padding-left: 1rem;
    text-align: center;

}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;

}



#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;

}


#nav-toggle:checked- .main-content {
    transition: margin-left 300ms;
    margin-left: 345px;

}

#nav-toggle:checked- .main-content header {
    width: calc(100%-70px);

}


.main-content {
    margin-left: 345px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);

    left: 345 px;
    width: calc(100%-345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;


}

#nav-toggle {
    display: none;
}

main {
    margin-top: 85px;
    padding: 2 rem 1.5 rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);

}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #333;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    /* Add margin to create a gap */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the Dropdown */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ddd;
}

.nav-option {
    color: #333;
    padding: 12px 16px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;

    position: relative;
    /* Add relative positioning */
    left: -10px;
    /* Move it 10 pixels to the left */
}

.nav-option:hover {
    color: #550011;
    /* Text color on hover */
    text-decoration: underline;
    /* Add underline on hover */
}

.container {
    display: flex;
    height: 100vh;
}